
.buttonShowMore{
    /* background-color: rgb(66,122,161); */
/* text-size-adjust: 15p; */
    background-color: rgb(241,196,15);
    color : rgb(66,122,161);
    margin-left: 45%;
    /* width: 100%; */
}